@import './util.scss';
div {
  width: 300px;
  height: 300px;
  background-color: red;
  div {
    width: 200px;
    height: 200px;
    background-color: green;
    div {
      width: 100px;
      height: 100px;
      background-color: blue;
    }
  }
}
.a {
  @include my-div(100px, 100px, red)
}
.b {
  @include my-div(200px, 200px, green)
}
.c {
  @include my-div(300px, 300px, blue)
}